.produtos h2{
    text-align: center;
    
}

.lista{
    width: 100%;
    display: flex;
    /*flex-wrap quebra a linha */
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    margin-block: 1.5rem;

}

.searchbar{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    
    
}

.input{
    width: 250px;
    height: 40px;
    font-size: 20px;
    border-radius: 7px ;
    border-width: 0.5px;
    outline: none; /* Remove a borda de foco */
    padding-left: 5px; /* Adiciona espaçamento à esquerda */
    
}

