/* Detail.module.css */

.detail {
    display: flex;
    width: 1700px;
    height: 1100px;
    margin: 20px auto;
    border: 1px solid #ddd;
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 5px 5px 10px #222222d2;
  }
  
  .imageContainer {
    flex: 1;
  }
  
  .image {
    max-width: 60%;
    max-height:60%;
    object-fit: cover;
    margin-top: 30%;
    margin-left: 30%;
  }
  
  .productDetails {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  
  .title {
    font-size: 30px;
    margin-bottom: 10px;
  }
  
  .price {
    font-size: 25px;
    margin-bottom: 10px;
  }
  
  .description {
    
    border-radius: 10px;
    font-size: 16px;
    max-width: 80%;
    max-height: 200px; /* Altura máxima da descrição */
    overflow: auto; /* Adiciona uma barra de rolagem quando o conteúdo ultrapassar a altura máxima */
    white-space: normal; /* Permite a quebra de linha dentro da descrição */
  }
  .detail h2{
    font-family: 'Roboto', monospace;
    font-size: 50px;
    color: white;
    text-transform: uppercase;
    -webkit-text-stroke: 0.5px black;
}


.detail h3{
  font-family: 'Roboto', monospace;
  font-size: 10px;
  color: white;
  text-transform: uppercase;
  -webkit-text-stroke: 0.5px black;
}

@media (max-width:768px){
  .detail{
    width: 300px;
    height: 400px;

  }
  .detail h2{
    font-size: 20px;

  }
  .detail h3{
    font-size: 5px;

  }
  .image{
    max-width: 80%;
    max-height:50%;
    object-fit: cover;
    margin-top: 100%;
    margin-left: 30%;

  }

}